.navbar{
    position: static;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(86, 55, 153);
    
    /* // 1250 */
    /* searchbar size decrease and title size need to decrease */
    /* 1000 below lo searchbar none and size decrease */
}
.btns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.searchbar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    border: 1.5px solid white;
    border-radius: 20px;
   
}
@media (max-width:1250px) {
    .searchbar{
    border: 1.5px solid white;
    width: 250px;
    height: 35px;

    }
    .searchbar input{
        border: none;
        outline: none;
        color: white;
        margin-left: 20px;
        width: inherit;
        background: inherit;
        font-size: large;
        font-weight:bold;
    
        
    }
    .searchbar img{
        display: none
    }
    .btns{
        display: flex;
        size:'small';
        align-items: center;
        
        

    }
    
}
@media(max-width:1010px){
    .searchbar{
        display: none;
    }
    .btns{
        margin: 30px;
    }
}
@media(max-width:500px){
    .btns{
      display: none;
    }
    .navbar{
        display: flex;
        align-items: center;
        justify-content: center;
    }

}
.searchbar input{
    border: none;
    outline: none;
    color: white;
    width: 400px;
    background: inherit;
    font-size: large;
    font-weight:bold;

    
}
.searchbar input:focus {
    color: white;
   }
.searchbar input.visited{
    color: white
}   
.searchbar img{
    cursor: pointer;
    margin: 5px;
    margin-left: 50px;
    color: white;
}
input::placeholder {
    color:  rgb(255, 255, 255);
}

